@font-face {
    font-family: 'vazir';
    src: url('/assets/fonts/vazir/Vazir.ttf'), url('/assets/fonts/vazir/Vazir.woff'), url('/assets/fonts/vazir/Vazir.woff2');
}

* {
    font-family: 'vazir';
}
a{
    text-decoration: none!important;
}
